.admin-panel {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

h2 {
    margin-top: 0;
}

.contacts,
.posts {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}